{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}


</br>
</br>
</br>

<div class="container">

    <div class="row py-5 mt-4 align-items-center">
    
        <!-- For Demo Purpose -->
        <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
            <img src="https://res.cloudinary.com/mhmd/image/upload/v1569543678/form_d9sh6m.svg" alt="" class="img-fluid mb-3 d-none d-md-block">
            <h1>Registration</h1>
            <p class="font-italic text-muted mb-0">Register yourself to Alumini Portal</p>
            
        </div>
        <!-- registration form -->
            

        <div class="col-md-7 col-lg-6 ml-auto">
            <div class="row">
                <div class="form-group col-lg-12 mx-auto">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        </br><button class="btn btn-secondary">Register</button>
                    </form>
                </div>
            </div>            
        </div>
    </div>
</div>

{% endblock content %}